snippet for "for cyklus"
for(int $1 = 0; $1 < $2; $1++){
    
}
endsnippet

snippet skeleton "Skeleton of C# code"
using System;
using System.IO;
using System.Collections.Generic;

namespace ${1:basic}
{
    public class ${2:basic}
    {
		static void Main()
		{

		}
    }
}
endsnippet
