snippet sb "shebang"
#!/bin/env python3
endsnippet

snippet function_docstring "ignore function docstring"
# pylint: disable=C0111 # missing function docstring
endsnippet

snippet upper_ignore "ignore uppercase warning"
# pylint: disable=C0103 # UPPER case
endsnippet

snippet skeleton "skeleton of my program"
#!/bin/env python3
# pylint: disable=C0111 # missing function docstring
# pylint: disable=C0103 # UPPER case
endsnippet
